.pragmatic-logo {
    text-align: center;
    margin: 2rem 0;
    font-family: 'Noto Sans KR';
}
.pragmatic-footer {
    text-align: center;
    margin-top: 2rem;
}

.pragmatic-header {
    text-align: center;
    margin: 2rem 0;
}