{% extends 'base.html' %}

{% block content %}

    <div style="border-radius: 1rem; margin: 2rem; text-align: center">
        <h1 style="font-family: 'Noto Sans KR'">
            helloworld list
        </h1>
    <form action="/imgquiz/hello_world/" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="hello_world"/>
        </div>
        <input type="submit" class="btn btn-primary" value="POST"/>
    </form>
        {{ new_hello_world }}
        {% if hello_world_list %}
            {% for hello_world in hello_world_list %}
                <h6>
                    {{ hello_world.text }}
                </h6>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}